<!-- <div class="card-container">
    <app-card *ngFor="let news of News"></app-card>
  </div> -->

  <div class="container">
    <h2>News Highlights</h2>
    <ng-container *ngFor="let news of News">
        <div class="news-container">
            <div class="news-card">
                <div>
                    <img [src]="news.url" style="width:100%; height:100px;">
                </div>
                <div class="card-body">
                <p class="card-text"> {{news.title}}</p>
                <p class="card-text"> {{news.content}}</p>
                </div>
                <div class="news-buttons">
                    <button class="btn btn-read">Read Later</button>
                    <button class="btn btn-detail" routerLink = "/card/{{news.id}}">Details</button>
                </div>
            </div>
        </div>  
    </ng-container>
</div>
