<div class="card" style="width: 300px; padding: 10px; margin: 10px;">
    <img src="{{ News.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>Author:</strong>{{ News.author }}</p>
      <p class="card-text"><strong>Title:</strong> {{ News.title }}</p>
      <p class="card-text"><strong>Content:</strong> {{ News.content }}</p>
      <p class="card-text"><strong>Description:</strong> {{ News.description }}</p>
      <p class="card-text"><strong>Published At:</strong> {{ News.published }}</p>
      <a href="#" class="btn btn-primary">Go Back</a>
    </div>
  </div>